.sidebar {
  width: 260px;
  height: calc(100vh - 70px);

  position: fixed;
  left: 0;
  top: 70px;

  background: #1f2937;
  color: white;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
}

.logo {
  margin-bottom: 20px;
}

.sidebar button {
  border: none;
  background: transparent;
  color: white;
  text-align: left;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

@media (max-width: 768px) {
  .sidebar {
    top: 70px;
    left: -260px;
    transition: 0.3s;
    z-index: 999;
  }

  .open {
    left: 0;
  }
}